@{
    ViewBag.Title = "Create";
}

<h2>Create from Admin</h2>


<form method="post">
    Title: <input type="text" name="Title" /> <br />
    Body: <textarea name="Body"></textarea> <br />
    <input type="submit" name="Submit" value="Submit" />
</form>
